.container{  background-image: url(img/background.png);
  background-size: cover;
  color: white;
  height: 1220px;
}

h1{
  font-size: 5em;
  padding-top: 100px;
  padding-bottom: 100px;
  text-decoration-line: underline;
  text-align: center;
}

button{
  width:50%;
border-radius: 120px;
background-color: darkblue;
color:white;
border:none;
font-size: 5em;
margin-left: 25%;
margin-right: 25%;}
