.container {
  background-image: url(img/background.png);
  background-size: cover;
  color: white;
  height: 1220px;
}


.language img {
  margin-top: 10%;
  width: 100%;
}

.language p {
  font-size: 2em;
}

#danish {
  text-align: center;
  float: right;
  width: 15%;
  margin-right: 10%;
}

#english {
  text-align: center;
  float: right;
  width: 15%;
  margin-right: 5%;
}

h1 {
  font-size: 5em;
  padding-top: 250px;
  padding-bottom: 100px;
  text-decoration-line: underline;
  text-align: center;
}

button {
  width: 50%;
  border-radius: 120px;
  background-color: darkblue;
  color: white;
  border: none;
  font-size: 5em;
  margin-left: 25%;
  margin-right: 25%;
  text-transform: uppercase;;
}
